.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--ifm-spacing-horizontal);
  margin: 2rem 0;
}

.singleItemCenter {
  /* This creates one single column track that is 50% of the container's width */
  grid-template-columns: 50%;
  /* This centers that 50%-width column track within the grid container */
  justify-content: center;
}